.app-header {
    background-color: var(--primary);
    color: var(--gray1);
    padding-block: .75em;

}

.app-header section:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.app-header .app-nav {
    display: flex;
    gap: 15px;
}

.app-header-link .active {
    color: var(--secondary-1);
    font-weight: 600;
    text-decoration: underline;
}