.book-list {
    display: grid;
    list-style: none;
    padding: 15px 0 0;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;

    
}

.book-list li {
    display: grid;
    grid-template-rows:1fr auto ;
    background-color: var(--primary-1);

}



.book-list-buttons{
}