.book-preview {
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    padding: 0.5em;
    justify-items: center;
}

.book-preview h4 {
    text-transform: capitalize;
    color: black;
}

.book-preview img {
    max-width: 150px;

}