.book-preview {
    display: grid;
    text-align: center;
    grid-template-rows: 1fr auto;
    justify-items: center;
    

}

.book-preview h2 {
    text-transform: capitalize;
    color: black;

}

.book-preview img {
    max-width: 70%;
    height: auto;

}

.book-preview-data{
    line-height: 1;
}
