.book-list {
    list-style: none;
    padding: 15px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 10px;
}

.book-list li {
    grid-template-rows: 5fr  1fr;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #00253f6f;
    padding-block: 0.2em;

}