.book-list {
    list-style: none;
    padding: 15px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 5px;
    
}

.book-list li {
    grid-template-rows: 5fr  1fr;
    display: grid;
    justify-items: center;
    align-items: center;
    padding-block: 0.2em;
    background-color: var(--primary-1);
    border-radius: 15px;
}


.book-list-buttons{
    
}