button {
    cursor: pointer;
    background-color: var(--primary);
    margin: 0.5em;
    border: 1px solid var(--primary1);
    padding: 0.5em 0.8em;
    border-radius: 4px;
    text-align: center;

}

button:hover {
    background-color: var(--primary-1);
    color: white;
    transition: 0.3s;
}

input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}
